@using ITDepartment.Utilities

@{
    ViewBag.Title = "Index";
}

<p>Hello @SessionHelper.GetUsername()! Your role is @SessionHelper.GetRole().</p>
<p>You might not been allowed to perform some kind of actions due to RBAC.</p>

